<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>人生ゲーム</title>
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>

    <body>
        <h1>マップ作成モード</h1>
        
        <div class="buttonui">
            <button class="a"><a href="/">ホームに戻る</a></button>
            <span class="arrow white">←</span>
        </div>
        
        <div class="buttonui">
            <button id="open1">ゲームを作成</button>
            <span class="arrow white">←</span>
        </div>
        
        <div class="buttonui">
            <button id="open0">ゲームを編集</button>
            <span class="arrow white">←</span>
        </div>
        
        <dialog class='dialog0'>
            <p>マイゲームを編集</p>
            <form action="/create/mine" method="POST">
                マップname<input type="text" name="name">
                マップpassword<input type="text" name="password">
                <input class="submit" type="submit" value="編集">
            </form>
            <button class="closebutton" id="close0">×</button>
        </dialog>
        
        <dialog class='dialog1'>
            <p>マイゲームを作成</p>
            <form action="/create/new" method="POST">
                マップname<input type="text" name="name">
                マップpassword<input type="text" name="password">
                <input class="submit" type="submit" value="作成">
            </form>
            <button class="closebutton" id="close1">×</button>
        </dialog>
        
        <script>
        let dialog = [];
        let btn_close = [];
        let btn_open = [];

        for (let i = 0; i < 2; i++) {
            dialog[i] = document.querySelector('.dialog' + i); // ダイアログ要素の取得
            btn_close[i] = document.getElementById('close' + i); // 閉じるボタンの取得

            btn_close[i].addEventListener('click', function() {
                dialog[i].close();
            }, false);

            btn_open[i] = document.getElementById('open' + i); // 開くボタンの取得
            if (btn_open[i] != null) {
                btn_open[i].addEventListener('click', function() {
                    dialog[i].showModal();
                }, false);
            }
        }
        </script>
    </body>
</html>
