<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>人生ゲーム</title>
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>

    <body>
        <div class="bigDiv">
            <img src ="/img/dice.png">
            <h1 class="h1">人生ゲーム</h1>
            
            <div class="buttonui">
                <button class="a"><a href="/game">ゲーム</a></button>
                <span class="arrow">←</span>
            </div>
            
            <div class="buttonui">
                <button class="a"><a href="/create">マップ作成</a></button>
                <span class="arrow">←</span>
            </div>
            
        </div>
    </body>
</html>