/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e293b;
    color: #ffd700;
    font-family: 'Arial', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 2rem;
}

h1 {
    color: #ffd700;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

a {
    color: #ffd700;
    text-decoration: none;
    font-size: 1.2rem;
    background: rgba(99, 179, 237, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: rgba(99, 179, 237, 0.3);
    transform: scale(1.05);
}
/* ダイアログのデザイン */
dialog {
    padding: 2rem;
    padding-bottom: 0;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 450px;
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog p{
    margin-bottom: 1rem;
}

.bold{
    font-weight: bold;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

/* フォーム内の要素 */
dialog select,
dialog input[type="text"] {
    padding: 0.7rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* 特定のselectの非表示と表示 */
dialog select#tile-money,
dialog select#tile-treasure,
p#tile-content-1 {
    display: none;
}

dialog select#tile-money.active,
dialog select#tile-treasure.active,
p#tile-content-1.active {
    display: block;
}

/* ダイアログ内のボタン */
dialog button {
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.3s;
}

dialog button:hover {
    background-color: #ff8c00;
}

dialog .closebutton {
    position: absolute;
    padding: 0;
    margin-top: 0;
    top: 0.5rem;
    right: 1.2rem;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
}

dialog .closebutton:hover {
    color: #ff0000;
    background-color: transparent;
}